.UsersList {
    table {
        max-width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;

        tbody {
            tr {
                td {
                    text-align: left;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    
                    background-color: #555;

                    i {
                        text-align: center;
                        color: #999;
                        cursor: pointer;
                    }

                    i:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .UsersList {
        table {
            font-size: 0.8em;

            tbody {
                tr {
                    td {
                        text-align: left;
                        padding-left: 3px;
                        padding-right: 3px;
                        padding-top: 2px;
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}