$primary-color: #2c632c;
$primary-color-light: lighten($primary-color, 4);
$primary-color-dark: #193819;

$grey-color: #333;
$grey-color-light: #444;

$error-color: #ff7c7c;

$text-color-dark: #222;
$text-color-grey: #666;

$text-color-light: #fff;